./image/cache/*
image/cache/*
/image/cache/*

./image/cache/**
image/cache/**
/image/cache/**


./system/storage/cache/*
system/storage/cache/*
/system/storage/cache/*
./system/storage/cache/**
system/storage/cache/**
/system/storage/cache/**
/image/cache


config.php
admin/config.php
/admin/config.php