
/*-----------------san pham noi bat*/
.bestseller-product{
    text-align: left;
    background: #EB5937 url('image/square-dark.png') 0 0 repeat;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 42px;
    padding: 0 0 0 12px;
    font-size: 22px;
    margin: 0 0 18px;

    /*font-weight: bold;*/
}

    
.bestseller-product a{
	cursor: hand;
}
.bestseller-product a i{
	color: #3AA81D; 
    font-size:34px;
    padding-right: 5px;
}

/*.bestseller-product:after {
    content: "";
    display: block;
    padding-top: 6px;
}*/
