/*
file custom css cho FOOTER
vui lòng chi edit o day
*/
/*phan custom footer co san cua opencart*/
footer{
	    border-top: 2px solid #23FF0B;
	    
}
footer .container{
	margin-bottom: 20px;
}
    
footer h5 {
    color: #23FF0B;
    text-transform: uppercase;
    margin-bottom: 18px;
    padding-bottom: 1px;
    border-bottom: 1px solid #fff;
}

footer h5:after {
    content: "";
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}
footer li, footer li a {
    color: #e7e6e9;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0px solid transparent;  
    width: 210px;
    -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
    height: 25px;
}

footer li a:hover {
    color: #fff;
    border-bottom: 3px solid #23FF0B;
}



/*---------------------------------------------------*/
/*phan footer cuoi cung*/
.footer-custom{
	background-color: #252525;
    text-align: center;	
    color: #fff;
    padding: 10px 0px 5px 0px;
}
