/*
file custom css cho FOOTER
vui lòng chi edit o day
*/
/*phan custom footer co san cua opencart*/
footer{
	    border-top: 2px solid #da5ca3;
	    background-color: transparent;
}
footer .container{
	margin-bottom: 50px;
}
    
footer h5 {
    color: #da5ca3;
    text-transform: uppercase;
    margin-bottom: 18px;
    padding-bottom: 1px;
    border-bottom: 1px solid #292929;
}

footer h5:after {
    content: "";
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #292929;
}
footer li, footer li a {
    color: #212121;
    font-weight: 500;
}

footer li a:hover {
    color: #da5ca3;
    text-transform: uppercase;
}



/*---------------------------------------------------*/
/*phan footer cuoi cung*/
.footer-custom{
	background-color: #252525;
    text-align: center;	
    padding: 10px 0px 5px 0px;
}
