
/*-----------------san pham moi nhat*/
.lasted-product{
    margin: 10px 320px 25px 320px;
    font-size: 18px;
    line-height: 40px;
    background-color: #456F74;
    /*text-transform: uppercase;
    border-bottom-style: double;*/
}
.lasted-product .left{
    /*background: #287D11; */
    color: #fff;
    /* position: relative; */
    /* height: 40px; */
    min-width: 150px;
    /*display: inline-block;*/
    padding: 10px 20px 10px 10px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    /* color: #444; */
    margin: 0;
    /* padding: 0px 0px 6px 0px; */
    font-size: 35px;
    line-height: 44px;
    letter-spacing: -2px;

    text-align: center;
}









/*Tooltip product Nguyen*/
.product-layout{
    position: relative;
}
.product-layout .product-tooltip{
    padding-top: 10px;
    position: absolute;
    top:-30%;
    left: 50%;
    display: none;
    z-index: 9999;
    width: 300px;
}
.product-layout:hover .product-thumb{
    opacity: 0.5;
    /*background-color: #000;*/
}

.product-layout:hover .product-tooltip{
    display: block;
    opacity: 1;
    z-index: 9999;
}