
/*-----------------san pham moi nhat*/
.lasted-product{
    text-align: left;
    background: #fbfbfb url('image/square.png') 0 0 repeat;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 42px;
    padding: 0 0 0 12px;
    font-size: 22px;
    margin: 0 0 18px;
    /*font-weight: bold;*/
}

