/*
file custom css cho project này
vui lòng chi edit o day
*/
body{
	background:transparent url(image/bg.jpg) repeat;
	color:#292929;
	font:14px/22px 'Open Sans', Arial, Helvetica, sans-serif;
}
#cart > .btn {
	line-height: 18px;
	color: #FFF;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #101665;
	background-image: linear-gradient(to bottom, #141c7e, #182197);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #0c104b;
	background-image: linear-gradient(to bottom, #080b32, #0c104b);
}
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #f9227b;
	background-image: linear-gradient(to bottom, #e01e6e, #f93888);
	background-repeat: repeat-x;
}
#menu {
	background-color: #ed2a7b;
	background-image: linear-gradient(to bottom, #d5256e, #f05495);
	background-repeat: repeat-x;
	border-color: #8e1949 #8e1949 #a51d56;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: #a51d56;
}
.product-thumb {
	background-color: #ffffff;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}